HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

LOGGER_LEVEL=DEBUG
LOGGER_FOLDER=./

JWT_SECRET=
JWT_TTL=15m

S3_ENDPOINT=http://localhost:9000
S3_PUBLIC_URL=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=neurox

PUBLISHER_USER=
PUBLISHER_PASSWORD=
PUBLISHER_HOST=localhost
PUBLISHER_PORT=5672